# Build files
.vscode/
.github/

# Test files
test.cpp

# Saves and databases
saves/*.dat

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Allow shipping runtime DLLs in prebuild
!prebuild/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Allow prebuilt Windows exe
!prebuild/*.exe

# debug information files
*.dwo

# CMake build directory
build/
# Other build folders
build-*/
